<div fxFlex="100%" class="mt4 pt4" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="content mt4" fxLayout="row" fxLayoutGap="16px">
        <div fxFlex.lt-sm="100%" fxFlex="70%" fxFlexOffset.gt-xs="15%">
            <div fxLayout="row">
                <div fxFlex.gt-sm="50%" fxFlexOffset.gt-sm="25%">
                    <md-card class="indigo-background-color">
                        <md-card-header>
                            <div fxFlex fxLayoutAlign="center center">
                                <h2 class="white-text-color">Register</h2>
                            </div>
                        </md-card-header>
                        <md-card-content>
                            <div fxLayout="column">
                                <md-input-container fxFlex class="white-input mt1" hintLabel="{{emailError}}">
                                    <input [(ngModel)]="user.email" mdInput placeholder="Email" type="email">
                                </md-input-container>

                                <md-input-container fxFlex class="white-input mt1" hintLabel="{{usernameError}}">
                                    <input [(ngModel)]="user.username" mdInput placeholder="Username">
                                </md-input-container>

                                <md-input-container fxFlex class="white-input mt1">
                                    <input [(ngModel)]="user.password" mdInput placeholder="Password" type="password">
                                </md-input-container>

                                <md-input-container fxFlex class="white-input mt1" hintLabel="{{passwordError}}">
                                    <input [(ngModel)]="user.confirmPassword" mdInput placeholder="Confirm Password" type="password">
                                </md-input-container>

                                <div>
                                    <div class="mt3" fxFlex>
                                        <button (click)="register()" routerLink="/register" md-raised-button fxFlex>Register</button>
                                    </div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>