<div class="overflow-hidden">
    <h2 mat-dialog-title>
        Edit Item
    </h2>

    <mat-dialog-content>
        <h4 class="m-0">Item Details:</h4>
        <div fxLayout="column">
            <mat-form-field fxFlex class="mt-1" hintLabel="{{titleError}}">
                <input matInput placeholder="Title" [(ngModel)]="item.title">
            </mat-form-field>

            <mat-form-field fxFlex class="mt-1" hintLabel="{{descriptionError}}">
                <textarea matInput placeholder="Description" [(ngModel)]="item.description"></textarea>
            </mat-form-field>

            <div fxFlex="100%" class="mt-1 mb-2" *ngIf="!!uploadProgress">
                <mat-progress-bar class="white-progress-bar" [color]="primary" [mode]="determinate" [value]="uploadProgress">
                </mat-progress-bar>
            </div>

            <h4 class="m-0">Images:</h4>
            <image-preview-component
                [fileField]="'file'"
                [images]="item.images"
                (remove)="deleteImage($event)"
            ></image-preview-component>
            
            <div *ngIf="previewData && previewData.length">
                <h4>Upload Images</h4>
                <div>
                    <img class="selected-pictures" *ngFor="let imgData of previewData" [src]="imgData">
                </div>
            </div>

            <app-upload-component
                [upload]="uploadImages"
                (onUpload)="saveItem($event)"
            ></app-upload-component>

            <div fxFlex="100%" class="mt-1 mb-2" *ngIf="!!uploadProgress">
                <mat-progress-bar [color]="primary" [mode]="determinate" [value]="uploadProgress">
                </mat-progress-bar>
            </div>
        </div>
    </mat-dialog-content>

    <!--TODO: align buttons to the bottom with-->
    <mat-dialog-actions style="margin: 0px;">
        <div fxLayout="row" fxFlex fxLayoutAlign="end center">
            <button mat-dialog-close mat-button class="ml1" (click)="cancel()">
                Close
            </button>
            <button mat-button color="primary" (click)="editItem()">
                Edit
            </button>
        </div>
    </mat-dialog-actions>
</div>