.image-overlay {
    display: none;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.image-overlay-wrapper {
    width: 125px;
    cursor: pointer;
}

.overlay-button span {
    background: white;
    color: black;
    font-weight: bold;
}

.image-overlay-wrapper:hover .image-overlay {
    position: absolute;
    background: black;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}