<div class="overflow-hidden">
    <h2 mat-dialog-title>
        {{title}}
    </h2>

    <mat-dialog-content>
        {{description}}
    </mat-dialog-content>

    <!--TODO: align buttons to the bottom with-->
    <mat-dialog-actions style="margin: 0px;">
        <div fxLayout="row" fxFlex fxLayoutAlign="end center">
            <button mat-dialog-close mat-button class="ml1" (click)="dialogRef.close()">{{cancelButtonText || 'Cancel'}}</button>
            <button mat-button color="primary" (click)="dialogRef.close(true)">{{confirmButtonText || 'Confirm'}}</button>
        </div>
    </mat-dialog-actions>
</div>