<div class="overflow-hidden">
    <h2 mat-dialog-title>
        {{item.title}}
    </h2>

    <mat-dialog-content>
        <div fxLayout="column">
            <div style="height: 550px;">
                <carousel>
                    <slide *ngFor="let image of item.images">
                        <img [src]="image.path" style="height: 100%; width: 100%; object-fit: cover;" />
                    </slide>
                </carousel>
            </div>

            <h4>Description</h4>
            <div fxFlex>
                {{item.description}}
            </div>
        </div>
    </mat-dialog-content>

    <!--TODO: align buttons to the bottom with-->
    <mat-dialog-actions style="margin: 0px;">
        <div fxLayout="row" fxFlex fxLayoutAlign="end center">
            <button mat-dialog-close mat-button class="ml1">Close</button>
            <button mat-button color="primary">Contact</button>
        </div>
    </mat-dialog-actions>
</div>