<div fxLayout="column" fxFlex>
    <mat-toolbar class="flex-shrink-1" style="height: 64px;" color="primary">
        <a href="#" routerLink="/dashboard" style="color: white; text-decoration: none;">
            <span>Lost Box</span>
        </a>
        <span fxFlex></span>


        <button matTooltip="Chat" *ngIf="username" mat-icon-button routerLink="/dashboard/chat">
            <mat-icon>chat</mat-icon>
            <mat-basic-chip *ngIf="notificationCount">{{notificationCount}}</mat-basic-chip>
        </button>
        <button *ngIf="username" mat-button [matMenuTriggerFor]="menu">
             <mat-icon>account_circle</mat-icon> &nbsp; {{username}}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/dashboard/user">
                <mat-icon>person</mat-icon>
                <span>User Details</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <div style="position:  relative; top: 64px;">
        <router-outlet></router-outlet>
    </div>
</div>