<div class="overflow-hidden">
    <h2 mat-dialog-title>
        Create Item
    </h2>

    <mat-dialog-content>
        <h4 class="m-0">Item Details:</h4>
        <div fxLayout="column">
            <mat-form-field fxFlex class="mt-1" hintLabel="{{titleError}}">
                <input matInput placeholder="Title" [(ngModel)]="item.title">
            </mat-form-field>

            <mat-form-field fxFlex class="mt-1" hintLabel="{{descriptionError}}">
                <textarea matInput placeholder="Description" [(ngModel)]="item.description"></textarea>
            </mat-form-field>

            <div>
                <img
                    class="selected-pictures"
                    *ngFor="let imgData of previewData"
                    [src]="imgData"
                />
            </div>
            
            <app-upload-component
                [upload]="creating"
                (onUpload)="onUploadComplete($event)"
            ></app-upload-component>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="m-0">
        <div fxLayout="row" fxFlex fxLayoutAlign="end center">
            <button mat-dialog-close mat-button class="ml-1" (click)="cancel()">Close</button>
            <button mat-button color="primary" (click)="createItem()">Create</button>
        </div>
    </mat-dialog-actions>
</div>