@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-utilities";

@import './app/dashboard/main/main.component.scss';
@import './app/dashboard/main/create-item/create-item.component.scss';
@import './app/dashboard/main/edit-item/edit-item.component.scss';
@import './app/dashboard/user/user.component.scss';
@import './app/dashboard/chat/chat.component.scss';
html,
body {
    background: mat-color($mat-grey, 200);
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.mat-primary.mat-toolbar {
    position: fixed;
    z-index: 2;
}

.indigo-background-color {
    background: mat-color($mat-indigo, 500) !important;
}

.white-background-color {
    background: white;
}

.white-text-color {
    color: white;
}

.white-input {
    color: white;
    .mat-form-field-label {
        color: white !important;
    }
    .mat-form-field-underline {
        background: mat-color($mat-grey, 300);
        .mat-form-field-ripple {
            background: white;
        }
    }
}

.grey-background-color {
    background: mat-color($mat-grey, 300) !important;
}

.grey-color {
    color: mat-color($mat-grey, 500) !important;
}

.white-progress-bar {
    .mat-progress-bar-element {
        background: lightgray !important;
    }
    .mat-progress-bar-fill::after {
        background-color: white !important;
    }
}

.mat-basic-chip {
    background: white;
    color: mat-color($mat-indigo, 500);
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    left: -20px;
    top: -12px;
}

.full-width {
    width: 100%;
}

.homepage-button {
    height: 60px;
    font-size: 20px;
}

.basic-trigger-thumbnail-container {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 5px;
    margin: 10px;
    position: relative;

    .basic-trigger-thumbnail {
        max-width: 100px;
        max-height: 100px;
    }

    .thumbnail-delete-button {
        cursor: pointer;
        color: white;
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 3px;
        position: absolute;
        top: 0;
        right: 0;
        background: mat-color($mat-red, 900);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;

        .mat-icon {
            height: 100%;
            width: 100%;
            font-size: 18px;
            display: flex;
            justify-content: center;
        }
    }
}

.masonry-container {
    max-height: 300px;
    overflow-y: auto;
}

.flex-shrink-1 {
    -ms-flex-negative: 1!important;
    flex-shrink: 1!important;
}

.flex-grow-1 {
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
}