<mat-card class="item-card my-2">
    <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{'By '+item.owner.username}}</mat-card-subtitle>
        <div mat-card-avatar [ngStyle]="getUserAvatarStyle()"></div>
    </mat-card-header>
    <div fxLayout="row" *ngIf="!imageLoaded">
        <mat-spinner fxFlex></mat-spinner>
    </div>
    <img mat-card-image (load)="imageLoadedSuccessfully()" [hidden]="!imageLoaded" [src]="replaceSlashes(item.images[0].path)">
    <mat-card-content>
        <p>
            <strong>
                Description
            </strong>
        </p>
        <p>{{item.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="user._id === item.owner._id">
            <button mat-button color="primary" (click)="editItem()">
                <mat-icon class="pr-1">edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-button color="warn" (click)="deleteItem()">
                <mat-icon class="pr-1">delete</mat-icon>
                <span>Delete</span>
            </button>
        </div>
        <div *ngIf="user._id !== item.owner._id">
            <button mat-button color="primary" (click)="contactUser(item.owner._id)">
                <mat-icon class="pr-1">person</mat-icon>
                <span>Contact</span>
            </button>
            <button mat-button color="primary" (click)="viewItem()">View</button>
        </div>
    </mat-card-actions>
</mat-card>